./*

!./README.md
!./bin/server.dart
!./docker/app.logo
!./echo-service
!./docker/docker-entrypoint.sh
!./lib/args_parser.dart
!./lib/settings.dart
!./analysis_options.yaml
!./pubspec.lock
!./pubspec.yaml
